<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="js/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="message" placeholder="请输入">
        <p>message is : {{ message }}</p>

        <textarea v-model="message2">{{ message2 }}</textarea>
        <p>message2 : {{ message2 }}</p>

        <input type="checkbox" id="aaa" value="aaa" v-model="selectArr">
        <label for="aaa">aaa</label>
        <input type="checkbox" id="bbb" value="bbb" v-model="selectArr">
        <label for="bbb">bbb</label>
        <input type="checkbox" id="ccc" value="ccc" v-model="selectArr">
        <label for="ccc">ccc</label>
        <input type="checkbox" id="ddd" value="ddd" v-model="selectArr">
        <label for="ddd">ddd</label>
        <input type="checkbox" id="eee" value="eee" v-model="selectArr">
        <label for="eee">eee</label>
        <p>{{ selectArr }}</p>
    </div>
    <div id="app2">
        <select name="" id="" v-model="innertext">
            <option value="a">one</option>
            <option value="b">twoo</option>
            <option value="c">three</option>
            <option>four</option>
        </select>
        <p>选择 : {{ innertext }}</p>
    </div>


    <div id="app3">
        <select v-model="selected">
            <option v-for="option of options" >{{option.text}}</option>
        </select>
        <p>选择 :{{selected}} </p>


        <ul>
            <li v-for="option in  options">{{option.text}}</li>
        </ul>
    </div>


    <div id="app4">
        <input type="checkbox" v-model="toggle" v-bind:true-value="a"
               v-bind:false-value="b">checkbox
    </div>
</body>
<script type="text/javascript">
    // v-model 指令在表单控件元素上创建双向的数据绑定
    var vm = new Vue({
        el:'#app',
        data:{
            message:'',
            message2:'111',
            check:true,
            selectArr:null
        }
    });

    // 复选框：checkbox  ：v-model指向的变量是bool类型，代表复选框是否选中
    // 复选框（多个复选框）： 若多个复选框的v-model指向的是同一个变量，则这个变量可以是一个数组，数组的值是每一个变量checkbox的value

    // 单选框：v-model的变量指向的是radio的value。
    //        若多个单选按钮的v-model是同一个变量，那么这几个单选按钮就是互斥的（类似于加上同样的name）


    // 下拉框 select>option  v-model 加select上，
    // 在有value的情况下 ,v-model指向的变量的值是被选中的option的value
    // 在没有value的情况下，v-model指向的变量的值是被选中的option的innerText
    var vm2 = new Vue({
        el:'#app2',
        data:{
            innertext:''
        }
    });

    // 循环创建option
    var vm3 = new Vue({
        el:'#app3',
        data:{
            selected:'one',
            options:[
                {text:'one',val:'a'},
                {text:'two',val:'b'},
                {text:'three',val:'c'}
            ]
        }
    });
    // 下拉多选 v-model指向的变量的值是被选中的option的innerText 组成的数组


    // v-model 绑定的值通常就是 字符串// checkbox 是boll类型（代表是否选中）


    //用 v-bind 绑定 value 到 Vue实例的一个动态属性上,这个属性的值可以不是字符串。
    var vm = new Vue({
        el:'#app4',
        data:{
            toggle:true,
            a:'aaaa',
            b:'bbbb'
        }
    });


</script>
</html>